یک سیستم کتابخونه ای نیاز داریم که دو نوع کاربر ادمین و دانشجو دارد.
 ادمین باید بتواند دانشجوها را با اطلاعات، نام، نام خانوادگی و کد ملی در سیستم ذخیره کند،
  علاوه بر این کتاب ها را نیز با اطلاعات عنوان، نویسنده، سال انتشار و تعداد جلد موجود تعریف کند.
   از سمت دانشجو نیاز داریم درخواست دریافت کتاب ارسال شود و در صورت تایید ادمین کتاب به دانشجو داده شود.
    یک دانشجو بیش از ۲ کتاب همزمان نمی‌تواند داشته باشد. اطلاعات را در فایل ذخیره کنید. بهتر از در قالب oop کد را پیاده کنید -
